<table class="table table-bordered mt-3">
    <thead>
      <tr>
        <th scope="col">PnrNo</th>
        <th scope="col">FlightNumbar</th>
        <th scope="col">Airline</th>
        <th scope="col">DateOfJourney</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngFor="let item of tickets">
      <tr>
        <td>{{item.pnrNo}}</td>
        <td>{{item.flightDetail.flightNumber}}</td>
        <td>{{item.flightDetail.airlineName}}</td>
        <td>{{item.flightDetail.startDate}}</td>
        <td><input class="btn btn-primary" type="submit" value="Show" (click)="onShow(item)"/></td>
        <td><input class="btn btn-danger"type="submit" value="Cancel" [disabled]="item.isCancelled" (click)="onCancel(item)"/></td>
      </tr>
    </tbody>
  </table>
