


<h2 mat-dialog-title>Flight Booking Service</h2>
<mat-dialog-content class="mat-typography w-80">
  <div id="htmltable">
    <table class="table table-bordered">
        <tbody>
          <tr>
            <td>PNR</td>
            <td>{{data.pnrNo}}</td>
          </tr>
          <tr>
            <td>Status</td>
            <td>{{!data.isCancelled}}</td>
          </tr>
          <tr>
            <td>FlightNo</td>
            <td>{{data.flightDetail.flightNumber}}</td>
          </tr>
          <tr>
            <td>AirlineName</td>
            <td>{{data.flightDetail.airlineName}}</td>
          </tr>
        
          <tr>
            <td>StartDate</td>
            <td>{{data.flightDetail.startDate}}</td>
          </tr>
          <tr>
            <td>EndDate</td>
            <td>{{data.flightDetail.endDate}}</td>
          </tr>
          <tr>
            <td>From</td>
            <td>{{data.flightDetail.fromPlace}}</td>
          </tr>
          <tr>
            <td>To</td>
            <td>{{data.flightDetail.toPlace}}</td>
          </tr>
          <tr>
            <td>Passengers</td>
            <td>
                <table class="table table-bordered table-dark">
                    <thead>
                      <tr>
                        
                        <th scope="col">Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">SeatNo</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let item of data.passengers">
                       
                        <tr>
                            <td>{{item.name}}</td>
                            <td>{{item.age}}</td>
                            <td>{{item.seatNo}}</td>
                        </tr>
                    
                      
                     
                    </tbody>
                  </table>
            </td>
          </tr>
          <tr>
            <td>Total Cost</td>
            <td>{{data.flightDetail.totalCost}}</td>
          </tr>

        </tbody>
      </table>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-primary" (click)="exportHtmlToPDF()">Download</button>
  
</mat-dialog-actions>

