<div class="card w-90">
    <h5 class="card-header">{{item.airline.name}}</h5>
    <div class="card-body">
      <h3 class="card-title">{{item.flightNumber}}</h3>
      <h4 class="card-title">Journey Date:{{item.startDate}}</h4>
      <h4 class="card-title">To: {{item.toPlaceName}}</h4>
      <h4 class="card-title">From: {{item.fromPlaceName}}</h4>
     <button class="btn btn-primary" (click)="onBook()">Book</button>
     <button class="btn btn-danger" (click)="onReshedule()">ReShedule</button>
    </div>
  </div>
